.maplibregl-popup {
    max-width: none !important;
}

.maplibregl-popup-content {
    padding: 16px 16px 10px 16px !important;
    border-radius: 7px !important;
    overflow: hidden;
    font-family: "Noto Sans Thai", sans-serif;
    filter: drop-shadow(1px 1px 5px #0000002b);
}