@import "tailwindcss";

#root {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: "Noto Sans Thai", sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #94b89e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #31c95c;
}
